name: Test Code on Ubuntu
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ dev, main ]
jobs:
  test_code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: 
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sudo env UV_INSTALL_DIR="/usr/local/bin" sh
        uv sync --all-extras
    - name: Test with pytest
      run: uv run --python ${{ matrix.python-version }} pytest
