name: Test Code on Ubuntu
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ dev, main ]
jobs:
  test_code:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: 
          - ubuntu-latest
        python-version: 
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        curl -sSL https://raw.githubusercontent.com/legendu-net/icon/main/install_icon.sh | sudo bash -
        uv sync --all-extras
    - name: Test with pytest
      run: |
        uv run pytest
